
@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
    background-color: #ccc;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

main {
    background-color: #fff;
    width:80%;
    margin: auto;    
}

h1, h2 {
  padding-top: 20px;  
  padding-left: 10px;  
}

h1 a {
    text-decoration: none;    
}

section {
  width: 100%;
}

  section h1{
    padding-left: 30px;  
  }
/* aside {
    float: right;
    width: 32%;
} */

footer {
    padding: 2em;
    text-align: center;    
    clear: both;
}
nav{
  position: absolute;
  z-index: 1;
}
.fullwidth {
   width: 100%;
}

ol.ullist li{
  font-size: 1.1em;
  font-weight: bold;
}
ul.cited li{
  font-size: 0.9em;
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image img {
    border-radius: 4px;
    display: block;
  }

  .image.left, .image.right {
    max-width: 40%;
  }

    .image.left img, .image.right img {
      width: 100%;
    }

  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }

  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
  }

    .image.main img {
      width: 100%;
    }

 


/* Start Tiles */
.tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto; 
  width: 98%;  
}

  .tiles article {  
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(25% - 2.5em);
    /* margin: 2.5em 0 0 2.5em; */
    margin:auto;
  }

    .tiles article > .image {
      transition: transform 0.5s ease;
      position: relative;
      display: block;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }

      .tiles article > .image img {
        display: block;
        width: 100%;
      }

      .tiles article > .image:before {
        pointer-events: none;
        transition: background-color 0.5s ease, opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1.0;
        z-index: 1;
        opacity: 0.8;
      }

      .tiles article > .image:after {
        pointer-events: none;
        transition: opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.25;
        z-index: 2;
      }

    .tiles article > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s ease, transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1em;
      border-radius: 4px;
      border-bottom: 0;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      z-index: 3;
    }

      .tiles article > a > :last-child {
        margin: 0;
      }

      .tiles article > a:hover {
        color: #ffffff !important;
      }

      .tiles article > a h2 {
        margin: 0;
        padding-right: 30px;
      }

      .tiles article > a .content {
        transition: max-height 0.5s ease, opacity 0.5s ease;
        width: 100%;
        max-height: 0;
        line-height: 1.5;
        margin-top: 0.35em;
        opacity: 0;
        padding-right: 30px;
      }

        .tiles article > a .content > :last-child {
          margin-bottom: 0;
        }

    .tiles article.style1 > .image:before {
      background-color: #78c4d4;
    }

    .tiles article.style2 > .image:before {
      background-color: #8f4f4f;
    }

    .tiles article.style3 > .image:before {
      background-color: #b7657b;
    }

    .tiles article.style4 > .image:before {
      background-color: #f2b4b4;
    }

    .tiles article.style5 > .image:before {
      background-color: #845ec2;
    }

    .tiles article.style6 > .image:before {
      background-color: #ffc75f;
    }

    .tiles article.style7 > .image:before {
      background-color: #f9f871;
    }

    .tiles article.style8 > .image:before {
      background-color: #ff5e78;
    }

    body:not(.is-touch) .tiles article:hover > .image {
      transform: scale(1.1);
    }

      body:not(.is-touch) .tiles article:hover > .image:before {
        background-color: #333333;
        opacity: 0.35;
      }

      body:not(.is-touch) .tiles article:hover > .image:after {
        opacity: 0;
      }

    body:not(.is-touch) .tiles article:hover .content {
      max-height: 15em;
      opacity: 1;
    }

  * + .tiles {
    margin-top: 2em;
  }

  body.is-preload .tiles article {
    transform: scale(0.9);
    opacity: 0;
  }

  body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
  }

/* End Tiles */
body.is-preload .tiles article {
  transform: none;
  opacity: 1;
}
/* ********** .tiles & .aboutus Responsive / Media breaks ********** */

@media screen and (min-width: 1400px) {

  .tiles {
    margin: auto; 
    width: 98%;
  }

  .tiles article {
    width: calc(25% - 1.25em);
    /* margin: 1.25em 0 0 1.25em; */
    margin:auto;
  }   

}

@media (min-width: 850px) and (max-width: 1399px) {
  .tiles {
    margin: auto; 
    width: 98%;
  }

  .tiles article {
    width: calc(50% - 2.5em);
    /* margin: 2.5em 0 0 2.5em; */
    padding-top: 20px;
    margin:auto;
  }

}

 @media all and (max-width: 849px) {

  .tiles {
    margin: auto; 
    width: 98%;
  }

    .tiles article {
      width: calc(100% - 1.25em);
      padding-top: 20px;
      margin:auto;
    }

      .tiles article:hover > .image {
        transform: scale(1.0);
      }
}



